input[type="file"] {
    visibility: hidden;
  }
  
  .image-preview {
    height: 5rem;
    margin: 1rem 0;
  }
  
  .image-preview img {
    height: 100%;
  }

  .errDiv {

      font-size: 12px;
      color: red;
  }


  .mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #25D366;
}


 